.section-title {
  text-align: center;
  color: $prymary-text-color;
  font-size: 48px;
  line-height: 32px;
  text-transform: uppercase;
  margin-bottom: 120px;
  margin-top: 0;
}
h3 {
  color: $prymary-text-color;
  font-family: $secondary-font-stack;
  font-weight: 600;
}
p {
  color: $prymary-text-color;
  font-family: $secondary-font-stack;
}
