.actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-basis: inherit;
  position: absolute;
  top: 90px;
  left: 40px;
  opacity: 0;
  transition: opacity 250ms;
  transition-delay: 250ms;
}

.action__button {
  background-color: transparent;
  border-color: $color-white;
  margin-right: 10px;
  height: 50px;
  width: 50px;
  text-transform: uppercase;
  font-size: 14px;
  font-family: $secondary-font-stack;
  font-weight: 400;
  color: $color-white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $primary-color;
  }
}

.action__icon {
  display: inline-block;
  fill: $color-white;
  height: 25px;
  width: 25px;
}

.action__button--basket {
  margin-top: 10px;
  width: 167px;
  background-color: $primary-bacground-color;
  justify-content: space-between;
  padding-right: 15px;
  padding-left: 15px;
}
