.footer {
  background-image: url(../images/footerimg.png);
  height: 460px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__name {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 70px;
  &::after {
    display: inline-block;
    content: '';
    width: 165px;
    height: 15px;
    margin-top: 25px;
    background-image: url(../images/footer.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 125%;
  }
}

.footer__text {
  margin: 0;
  padding: 0;
  color: $color-white;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 45px;
}

.registr {
  display: flex;
}

.registr__text {
  border: none;
  width: 445px;
  height: 60px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 16px;
  padding-left: 30px;
  color: $prymary-text-color;
  line-height: 26;
  font-weight: 300;
  font-family: $secondary-font-stack;
}

.registr__button {
  width: 90px;
  height: 60px;
  background-color: $secondary-color;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 2px solid $color-white;
}

.registr__icon {
  width: 40px;
  height: 50px;
  fill: $color-white;
}
