$primary-font-stack: 'Roboto', sans-serif;
$secondary-font-stack: 'Open Sans', sans-serif;
$tertiary-font-stack: 'Myriad Pro', sans-serif;
$prymary-text-color: #555252;
$secondary-color-text: #0f0101;
$primary-color: #1abc9c;
$secondary-color: #4ec6ab;
$color-white: #fff;
$primary-bacground-color: #323232;
$price-color-hover: #7fdbbf;
$price-background-color: #8c8c8c;
$sections-background-color: #e9f0fd;
